<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem title="Portal" name="menu-portal-root" icon="pc-display-horizontal"/>

  <menuitem title="Portal app configuration" name="menu-portal-app-configuration"
    parent="menu-portal-root" action="action.portal.app.configuration"/>

  <action-view name="action.portal.app.configuration" title="Portal app configuration"
    model="com.axelor.apps.portal.db.PortalAppConfig">
    <view type="grid" name="portal-app-config-grid"/>
    <view type="form" name="portal-app-config-form"/>
  </action-view>

  <menuitem title="Workspace" name="menu-portal-portal-workspace" parent="menu-portal-root"
    action="action.portal.porttal.workspace"/>

  <action-view name="action.portal.porttal.workspace" title="Workspace"
    model="com.axelor.apps.portal.db.PortalWorkspace">
    <view type="grid" name="portal-workspace-grid"/>
    <view type="form" name="portal-workspace-form"/>
  </action-view>

  <menuitem title="Brand" name="menu-portal-brand" parent="menu-portal-root"
    action="action.portal.brand"/>

  <action-view name="action.portal.brand" title="Brand"
    model="com.axelor.apps.portal.db.Brand">
    <view type="grid" name="brand-grid"/>
    <view type="form" name="brand-form"/>
  </action-view>

  <menuitem title="Theme" name="menu-portal-portal-theme" parent="menu-portal-root"
    action="action.portal.portal.theme"/>

  <action-view name="action.portal.portal.theme" title="Theme"
    model="com.axelor.apps.portal.db.PortalTheme">
    <view type="grid" name="portal-theme-grid"/>
    <view type="form" name="portal-theme-form"/>
  </action-view>

  <menuitem title="Portal app" name="menu-portal-portal-app" parent="menu-portal-root"
    action="action.portal.portal.app"/>

  <action-view name="action.portal.portal.app" title="Portal app"
    model="com.axelor.apps.portal.db.PortalApp">
    <view type="grid" name="portal-app-grid"/>
    <view type="form" name="portal-app-form"/>
  </action-view>

  <menuitem title="Portal partner permission" name="menu-portal-portal-partner-permission"
    parent="menu-portal-root" action="action.portal.portal.partner.permission"/>

  <action-view name="action.portal.portal.partner.permission"
    title="Portal partner permission" model="com.axelor.apps.portal.db.PortalPartnerPermission">
    <view type="grid" name="portal-partner-permission-grid"/>
    <view type="form" name="portal-partner-permission-form"/>
  </action-view>

</object-views>
