<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem title="Portal" name="menu-portal-root" icon="pc-display-horizontal"
    if="__config__.app.isApp('goovee-portal')"/>

  <menuitem title="Workspace" name="menu-portal-portal-workspace" parent="menu-portal-root"
    action="action.portal.porttal.workspace" order="101"/>

  <action-view name="action.portal.porttal.workspace" title="Workspace"
    model="com.axelor.apps.portal.db.PortalWorkspace">
    <view type="grid" name="portal-workspace-grid"/>
    <view type="form" name="portal-workspace-form"/>
  </action-view>

  <menuitem title="Portal app config" name="menu-portal-app-configuration"
    parent="menu-portal-root" action="action.portal.app.configuration" order="105"/>

  <action-view name="action.portal.app.configuration" title="Portal app config"
    model="com.axelor.apps.portal.db.PortalAppConfig">
    <view type="grid" name="portal-app-config-grid"/>
    <view type="form" name="portal-app-config-form"/>
  </action-view>

  <menuitem title="Partner workspace" name="menu-portal-portal-partner-workspace"
    parent="menu-portal-root" action="action.portal.portal.partner.workspace" order="110"/>

  <action-view name="action.portal.portal.partner.workspace" title="Partner workspace"
    model="com.axelor.apps.portal.db.PartnerPortalWorkspace">
    <view type="grid" name="partner-portal-workspace-grid"/>
    <view type="form" name="partner-portal-workspace-form"/>
  </action-view>

  <menuitem title="Contact workspace config" name="menu-portal-contact-workspace-config"
    parent="menu-portal-root" action="action.portal.portal.contact.workspace.config" order="110"/>

  <action-view name="action.portal.portal.contact.workspace.config"
    title="Contact workspace config" model="com.axelor.apps.portal.db.PortalContactWorkspaceConfig">
    <view type="grid" name="portal-contact-workspace-config-grid"/>
    <view type="form" name="portal-contact-workspace-config-form"/>
  </action-view>

  <menuitem title="News app" name="menu-portal-portal-news-root" parent="menu-portal-root"
    order="115"/>

  <menuitem title="News" name="menu-portal-portal-news" order="5"
    parent="menu-portal-portal-news-root" action="action.portal.portal.news"/>

  <action-view name="action.portal.portal.news" title="News"
    model="com.axelor.apps.portal.db.PortalNews">
    <view type="grid" name="portal-portal-news-grid"/>
    <view type="form" name="portal-portal-news-form"/>
  </action-view>

  <menuitem title="Comments" name="menu-portal-portal-news-comment" order="10"
    parent="menu-portal-portal-news-root" action="action.portal.portal.news.comment"/>

  <action-view name="action.portal.portal.news.comment" title="Comments"
    model="com.axelor.apps.base.db.Comment">
    <view type="cards" name="comment-card"/>
    <view type="form" name="portal-comment-form"/>
    <domain>self.portalNews IS NOT NULL</domain>
  </action-view>

  <menuitem title="News category" name="menu-portal-portal-news-catgory" order="15"
    parent="menu-portal-portal-news-root" action="action.portal.portal.news.category"/>

  <action-view name="action.portal.portal.news.category" title="News category"
    model="com.axelor.apps.portal.db.PortalNewsCategory">
    <view type="grid" name="portal-portal-news-category-grid"/>
    <view type="form" name="portal-portal-news-category-form"/>
  </action-view>

  <menuitem title="Event app" name="menu-portal-portal-event-root"
    parent="menu-portal-root" order="120"/>

  <menuitem title="Events" name="menu-portal-portal-event" order="5"
    parent="menu-portal-portal-event-root" action="action.portal.portal.event"/>

  <action-view name="action.portal.portal.event" title="Event"
    model="com.axelor.apps.portal.db.PortalEvent">
    <view type="grid" name="portal-portal-event-grid"/>
    <view type="form" name="portal-portal-event-form"/>
  </action-view>

  <menuitem title="Registration" name="menu-portal-registration" order="10"
    parent="menu-portal-portal-event-root" action="action.portal.registration"/>

  <action-view name="action.portal.registration" title="Registration"
    model="com.axelor.apps.portal.db.Registration">
    <view type="grid" name="portal-registration-grid"/>
    <view type="form" name="portal-registration-form"/>
  </action-view>

  <menuitem title="Participant" name="menu-portal-portal-participant" order="15"
    parent="menu-portal-portal-event-root" action="action.portal.portal.participant"/>

  <action-view name="action.portal.portal.participant" title="Participant"
    model="com.axelor.apps.portal.db.PortalParticipant">
    <view type="grid" name="portal-portal-participant-grid"/>
    <view type="form" name="portal-portal-participant-form"/>
  </action-view>

  <menuitem title="Configuration" name="menu-portal-portal-event-configuration"
    parent="menu-portal-portal-event-root" order="20"/>

  <menuitem title="Comments" name="menu-portal-portal-event-comment"
    parent="menu-portal-portal-event-configuration" action="action.portal.portal.event.comment"/>

  <action-view name="action.portal.portal.event.comment" title="Comments"
    model="com.axelor.apps.base.db.Comment">
    <view type="cards" name="comment-card"/>
    <view type="form" name="portal-comment-form"/>
    <domain>self.portalEvent IS NOT NULL</domain>
  </action-view>

  <menuitem title="Event category" name="menu-portal-portal-event-catgory"
    parent="menu-portal-portal-event-configuration" action="action.portal.portal.event.category"/>

  <action-view name="action.portal.portal.event.category" title="Event category"
    model="com.axelor.apps.portal.db.PortalEventCategory">
    <view type="grid" name="portal-portal-event-category-grid"/>
    <view type="form" name="portal-portal-event-category-form"/>
  </action-view>

  <menuitem title="Forum app" name="menu-portal-forum-root" parent="menu-portal-root"
    order="135"/>

  <menuitem title="Group" name="menu-portal-forum-group" parent="menu-portal-forum-root"
    action="action.portal.forum.group"/>

  <action-view name="action.portal.forum.group" title="Group"
    model="com.axelor.apps.portal.db.ForumGroup">
    <view type="grid" name="forum-group-grid"/>
    <view type="form" name="forum-group-form"/>
  </action-view>

  <menuitem title="Group member" name="menu-portal-forum-group-member"
    parent="menu-portal-forum-root" action="action.portal.forum.group.member"/>

  <action-view name="action.portal.forum.group.member" title="Group member"
    model="com.axelor.apps.portal.db.ForumGroupMember">
    <view type="grid" name="forum-group-member-grid"/>
    <view type="form" name="forum-group-member-form"/>
  </action-view>

  <menuitem title="Post" name="menu-portal-forum-post" parent="menu-portal-forum-root"
    action="action.portal.forum.post"/>

  <action-view name="action.portal.forum.post" title="Post"
    model="com.axelor.apps.portal.db.ForumPost">
    <view type="grid" name="forum-post-grid"/>
    <view type="form" name="forum-post-form"/>
  </action-view>

  <menuitem title="Comments" name="menu-portal-forum-comment"
    parent="menu-portal-forum-root" action="action.portal.forum.comment"/>

  <action-view name="action.portal.forum.comment" title="Comments"
    model="com.axelor.apps.base.db.Comment">
    <view type="cards" name="comment-card"/>
    <view type="form" name="portal-comment-form"/>
    <domain>self.forumPost IS NOT NULL</domain>
  </action-view>

  <menuitem title="Group configuration" name="menu-portal-forum-group-configuration"
    parent="menu-portal-forum-root" action="action.portal.forum.group.configuration"/>

  <action-view name="action.portal.forum.group.configuration"
    model="com.axelor.apps.portal.db.ForumGroupConfig" title="Group configuration">
    <view type="grid" name="forum-group-config-grid"/>
    <view type="form" name="forum-group-config-form"/>
  </action-view>

  <menuitem title="Configuration" name="menu-portal-configuration-root"
    parent="menu-portal-root" order="140"/>

  <menuitem title="Portal app" name="menu-portal-portal-app"
    parent="menu-portal-configuration-root" action="action.portal.portal.app" order="1000"/>

  <action-view name="action.portal.portal.app" title="Portal app"
    model="com.axelor.apps.portal.db.PortalApp">
    <view type="grid" name="portal-app-grid"/>
    <view type="form" name="portal-app-form"/>
  </action-view>

  <menuitem title="Brand" name="menu-portal-brand" parent="menu-portal-configuration-root"
    action="action.portal.brand" order="1005"/>

  <action-view name="action.portal.brand" title="Brand"
    model="com.axelor.apps.portal.db.Brand">
    <view type="grid" name="brand-grid"/>
    <view type="form" name="brand-form"/>
  </action-view>

  <menuitem title="Theme" name="menu-portal-portal-theme"
    parent="menu-portal-configuration-root" action="action.portal.portal.theme" order="1010"/>

  <action-view name="action.portal.portal.theme" title="Theme"
    model="com.axelor.apps.portal.db.PortalTheme">
    <view type="grid" name="portal-theme-grid"/>
    <view type="form" name="portal-theme-form"/>
  </action-view>

  <menuitem title="Payment config" name="menu-portal-portal-payment-config"
    parent="menu-portal-configuration-root" action="action.portal.portal.payment.config"
    order="1015"/>

  <action-view name="action.portal.portal.payment.config" title="Payment config"
    model="com.axelor.apps.portal.db.PortalPaymentConfig">
    <view type="grid" name="portal-payment-config-grid"/>
    <view type="form" name="portal-payment-config-form"/>
  </action-view>

  <menuitem title="Comment" name="menu-portal-portal-comment"
    parent="menu-portal-configuration-root" action="action.portal.portal.comment" order="1030"/>

  <action-view name="action.portal.portal.comment" title="Comment"
    model="com.axelor.apps.base.db.Comment">
    <view type="cards" name="comment-card"/>
    <view type="form" name="portal-comment-form"/>
  </action-view>

</object-views>
